/en.lang.txt
/en.lang.id.txt
/zlib.dll
/DevIL.dll
/EsoExtractData.exe
/granny2_x64.dll
/ILU.dll
/ILUT.dll
/oo2core_8_win64.dll
/packed_codebooks.bin
/packed_codebooks_aoTuV_603.bin
/ReadMe.txt
/.idea
/en_client.lua
/en_pregame.lua
/output.txt
/en.lang
/New Text Document.txt
/input_untrans.txt
/exportmnf.log
/input_trans.txt
/kb.lang
/kr.lang
/en.lang_tag.txt
/kr_pregame.str
/kb.lang.id.txt
/kb.lang.txt
/kb_client.str
/kb_pregame.str
/kr.lang.id.txt
/kr.lang.txt
/kr_client.str
/en_pts.lang
/en_client_pts.lua
/en_pregame_pts.lua
/en_pts.lang.txt
/en_pts.lang.id.txt
/en_pts.lang_tag.txt
/matchedIndexes.txt
/changedIndexes.txt
/closeMatchPtsIndexes.txt
/closeMatchLiveIndexes.txt
/Pts
/pts_lang_05_10_22
/live_lang_05_04_22
/live_lang_05_10_22
/pts_lang_05_06_22
/deletedIndexes.txt
/live_lang_06_06_22
/en_prv.lang.txt
/en_client_prv.lua
/en_pregame_prv.lua
/en_prv.lang
/en_prv.lang.id.txt
/en_prv.lang_tag.txt
/en_client_cur.lua
/en_cur.lang
/en_cur.lang.id.txt
/en_cur.lang.txt
/en_cur.lang_tag.txt
/en_pregame_cur.lua
/live_lang_06_20_22
/live_lang_07_17_22
/test.lua
/live_lang_08_08_22
/live_lang_08_22_22
/live_lang_04_23_23
/live_lang_04_24_23
/live_lang_06_12_23
/pts_lang_06_04_23
/EsoExtractDataGui.exe
/mfc140.dll
/README_GUI.txt
/live_lang_06_18_23
/live_lang_06_19_23
/live_lang_07_26_2023
/verify_output.txt
/pts_lang_08_01_23
/test2.txt
/en_lang_decode.txt
/kb_old.lang_tag.txt
/old_kr.lang.id.txt
/old_kr.lang.txt
/test.txt
/__pycache__
